:root{
  --current: light-dark(#fff, #000);
  --current_80: color-mix(in oklab, var(--current), #0000 80%);

  --reverse: light-dark(#000, #fff);
  --reverse_80: color-mix(in oklab, var(--reverse), #0000 80%);
  --reverse_20: color-mix(in oklab, var(--reverse), #0000 20%);

  /* Primary color */
  --x_brand: #da3;

  --x_color: var(--color_override, var(--brand));
  --x_color_auto: light-dark(#000, var(--x_color));

  --x_color_transparent: color-mix(in oklab, var(--x_color), #0000 80%);
  --x_color_transparent_auto: light-dark(#00000020, var(--x_color_transparent));

  /* Background */
  --x_body_background: light-dark(#e0e0e0, #2c2c2c);
  --x_outer_background: var(--current);
  --x_inner_background: var(--current_80);

  /* Border */
  --x_border_color: light-dark(#eee, #222);

  /* Text */
  --x_heading_color: var(--reverse);
  --x_text_color: var(--reverse_20);
  --x_muted_color: var(--reverse_80);

  /* Action */
  --x_primmary_button_text: var(--x_color_auto);
  --x_primmary_button_background: var(--x_color_transparent_auto);

  --x_secondary_button_text: var(--current);
  --x_secondary_button_background: var(--reverse_20); 
}


/* --- */


html {
  background-color: var(--x_body_background);
  scrollbar-color: #111 black;
  scroll-behavior: smooth; }


body {
  margin: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;}


:is(header, footer).css {
  background: black;
  color-scheme: dark; }


:is(section, aside).css {
  background-color: var(--x_outer_background);
  &._radius {
    border-radius: 5px;}
  &._padding {
    padding: 1em; } }


:is(div, ul).css {
  background-color: var(--x_inner_background);
  &._radius {
    border-radius: 3px;} }


/* --- # Popover */

html:has(:popover-open){
  -webkit-tap-highlight-color: transparent;
  &:has([popover="auto"]){
    cursor: url("/ui/close.png") 2 2, pointer; }
  body {
    background-image: url("/ui/noise.png") !important;
    background-size: unset !important;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    touch-action: none;
    filter: grayscale(1) opacity(0.3) blur(1em);
    overflow: hidden; } }
    [popover]:popover-open {
      border: 0 solid;
      overflow: hidden auto;
      scrollbar-width: none;
      scrollbar-color: transparent transparent;
      max-height: 100dvh;
      cursor: auto;
      pointer-events: all;
      box-sizing: border-box;
      background: transparent;
      padding: 0;
      position: fixed;
    @media (min-width: 601px) { /* Desktop */
      width: min(calc(100% - 1em), var(--w, 500px)) }
    @media (max-width: 600px) { /* Mobile */
      width: calc(100% - 1em) }
      &::backdrop {
        background: linear-gradient(16deg, #00faff42, #ff00d630) } }
        

/* --- # Text */


:is(h1, h2, h3, a, strong, b, span) {
  color: var(--override_outstanding_c, var(--reverse));
  &._color {
    --override_outstanding_c: var(--x_color_auto); }
  &._full {
    white-space: nowrap; }
}


:is(p) {
  color: var(--override_text_color, var(--x_text_color)) }


/* --- # Input */


.btn {
  color: var(--btn_c, var(--reverse));
  background: var(--btn_bg, var(--reverse_80));
  border: 1px solid var(--btn_border, transparent);
  &._primary {
    --btn_c: var(--x_primmary_button_text);
    --btn_bg: var(--x_primmary_button_background); }
  &._secondary {
    --btn_c: var(--x_secondary_button_text);
    --btn_bg: var(--x_secondary_button_background); }
  &._border {
    --btn_border: var(--btn_c); }
  &._1 {
    aspect-ratio: 1/1; } }

/* --- # Build */


.grid {
  display: grid;
  grid-auto-rows: min-content;}
  @media (min-width: 800px){
    .grid._left {
      grid-template-columns: 1fr max-content; }
    .grid._right {
      grid-template-columns: max-content 1fr; } }


:is(.flex, .grid)._center {
  align-content: center;
  align-items: center; }


.flex { display: flex;
  &._wrap { flex-wrap: wrap;}
  &._reverse {flex-direction: row-reverse;}
  &._right { justify-content: flex-end; }
  &._down { flex-direction: column; }
  &._space {justify-content: space-between;}
  &._bottom {align-items: flex-end;} }


.gap {
  &:not(._2, ._3, ._5, ._10) {gap: 5px;}
  &._2 {gap: 10px;}
  &._3 {gap: 15px;}
  &._5 {gap: 25px;}
  &._10 {gap: 50px;} }


/* --- # Helper */


.auto_hide { content-visibility: auto }

.full_width {width: -webkit-fill-available !important;}

.hide, [type=hidden] { display: none !important }

.dark { color-scheme: dark; }


/* --- # Custom */


.blur {
  position: relative;
  cursor: wait;
  user-select: none;
  &::after {
    position: absolute;
    content: attr(blur);
    width: 90%;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'custom';
    font-size: xx-large;
    text-shadow: 0 0 10px var(--theme_000); }
  > * {
     animation: taust 2s linear infinite;
     pointer-events: none;} }
@keyframes taust {
  from, to {filter: blur(8px) opacity(.2);}
  50% {filter: blur(5px) opacity(.5);} }



@property --color_override {
  syntax: "<color>";
  inherits: true;
  initial-value: orange; }

html:has(link.rainbow) {
  animation: rainbow 8s linear infinite; }

@keyframes rainbow {
  0%   { --color_override: #ddaa33; }
  20%  { --color_override: #45fe57; }
  40%  { --color_override: #00fffb; }
  60%  { --color_override: #6eadff; }
  80%  { --color_override: #ff6ecf; }
  100% { --color_override: #ddaa33; }
}

